node_modules/
.vscode/
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
src/styles/generated
src/styles/themes/*-vars.scss
dist/main.css
dist/dark.js
dist/light.js
dist/generated.js
yarn-error.log