@layer components {
    .navbar {
        width: 100vw;
        @apply flex flex-row;
        @apply px-36;
        align-items: center;
    }
    .logo-container {
        @apply flex flex-row;
        align-items: center;

        .name {
            @apply text-black text-xl inline-block align-middle;
        }
    }
    .nav-links {
        @apply list-none;
        @apply flex flex-row justify-end;
        .nav-item {
            @apply mx-3;
        }
    }
}