@import "_colors";

// The main colors used in variants
$primary: $purple-500;
$primary-light: $purple-400;
$primary-dark: $purple-600;
$danger: $red-500;
$danger-light: $red-400;
$danger-dark: $red-600;

// Colors used in typography mostly
$text-color: $gray-200;
$emphasis-text-color: white;
$nav-link-color: $gray-400;
$nav-link-hover: white;

// The main background colors
$main-bg-color: $gray-800;
$main-bg-dark: lighten($main-bg-color, 2%);
$main-bg-contrast: $gray-100;
$box-bg: lighten($gray-800, 5%);

// Colors for specific components -- generally try to keep them on the default values for visual cohesion
$btn-secondary-hover: $main-bg-dark;
$btn-secondary-click: $main-bg-dark;

$dropdown-bg-color: $main-bg-dark;

$input-text-bg: $main-bg-dark;