@import "_colors";
$primary: $purple-500;
$primary-light: $purple-400;
$primary-dark: $purple-600;
$danger: $red-500;
$danger-light: $red-400;
$danger-dark: $red-600;

$text-color: $gray-200;
$emphasis-text-color: white;
$nav-link-color: $gray-400;
$nav-link-hover: white;

$main-bg-color: $gray-800;
$main-bg-dark: $gray-700;
$main-bg-contrast: $gray-100;

$btn-secondary-hover: $gray-700;
$btn-secondary-click: $gray-600;