@import "_colors";

// The main colors used in variants
$primary: $purple-500;
$primary-light: $purple-400;
$primary-dark: $purple-600;
$danger: $red-500;
$danger-light: $red-400;
$danger-dark: $red-600;

// Colors used in typography mostly
$text-color: $gray-600;
$emphasis-text-color: black;
$nav-link-color: $gray-400;
$nav-link-hover: black;

// The main background colors
$main-bg-color: white;
$main-bg-dark: $gray-100;
$main-bg-contrast: black;

// Colors for specific components
$btn-secondary-hover: $gray-100;
$btn-secondary-click: $gray-300;