.btn {
    @include transition-curve;
    transition-duration: 200ms;
    color: white;
    padding: 0.5rem 1rem;
    border: 2px solid;
    border-radius: 0.75rem;

    @include btn-color(
        var(--primary),
        var(--primary),
        white,
        var(--primary-dark),
        white,
        var(--primary-dark)
    );

    &:active,
    &:focus {
        outline: none;
    }
}
