.alert {
    width: 100%;
    background-color: $blue-100;
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    margin: 0.25rem 0rem;
    vertical-align: middle;
    .alert-close {
        float: right;
        padding: 0.25rem;
        display: flex;
        border-radius: 9999px;
        .material-icons {
            font-size: 1.25rem;
            vertical-align: text-bottom;
            text-align: center;
            padding-right: 1px;
        }
        &:active,
        &:focus {
            outline: none;
        }
    }
}