.navbar {
    width: 100vw;
    padding: 1rem 9rem;
    @include media('<xl') {
        padding: 1rem 5rem;
    }
    @include media('<lg') {
        padding: 1rem 3rem;
    }
    @include media('<md') {
        padding: 1rem 1rem;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        .logo {
            height: 2.5rem;
            width: 2.5rem;
            margin-right: 0.5rem;
        }
        .name {
            color: $emphasis-text-color;
            font-size: 2.5rem;
            vertical-align: middle;
            display: inline-block;
        }
    }
    .nav-links {
        width: 100%;
        list-style-type: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        .nav-item {
            margin: 0 3rem;
            .nav-link {
                @include transition-curve;
                transition-duration: 200ms;
                font-size: 1.25rem;
                border: none;
                color: $nav-link-color;
                &:hover {
                    color: $nav-link-hover;
                }
                &.is-active {
                    color: $nav-link-hover;
                    border-bottom: 3px solid;
                    border-color: $primary;
                }
            }
        }
    }
}
