.navbar {
    width: 100vw;
    padding: 1rem 9rem;
    @include media("<xl") {
        padding: 1rem 5rem;
    }
    @include media("<lg") {
        padding: 1rem 3rem;
    }
    @include media("<md") {
        padding: 1rem 1rem;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        .logo {
            height: 2.5rem;
            width: 2.5rem;
            margin-right: 0.5rem;
        }
        .name {
            color: $emphasis-text-color;
            font-size: 2.5rem;
            vertical-align: middle;
            display: inline-block;
        }
    }
    .nav-links {
        width: 100%;
        list-style-type: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        .nav-item {
            margin: 0 3rem;
            .nav-link {
                @include transition-curve;
                transition-duration: 200ms;
                font-size: 1.25rem;
                border: none;
                color: $nav-link-color;
                &:hover {
                    color: $nav-link-hover;
                }
                &.is-active {
                    color: $nav-link-hover;
                    border-bottom: 3px solid;
                    border-color: $primary;
                }
            }
        }
    }
    // Dropdown styling
    .nav-item.is-dropdown {
        vertical-align: middle;
        &:hover {
            .nav-link {
                color: $nav-link-hover;
            }
            .dropdown {
                display: flex;
            }
            .dropdown-icon {
                color: $nav-link-hover;
            }
        }
        .dropdown-icon {
            @include transition-curve;
            transition-duration: 200ms;
            float: right;
            color: $nav-link-color;
            vertical-align: text-bottom;
        }
        .dropdown {
            display: none;
            position: absolute;
            padding-top: 0.75rem;
            width: auto;
            transform: translate(-1.5rem, 0rem);
            &.show {
                display: flex;
            }
            .nav-links {
                background-color: $main-bg-dark;
                width: auto;
                padding: 0.75rem 0.5rem;
                box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
                border-radius: 0.75rem;
                flex-direction: column;
                align-items: flex-start;
                .nav-item {
                    .nav-link {
                        color: $nav-link-color;
                        &:hover {
                            color: $nav-link-hover;
                        }
                    }
                    margin: 0.5rem 1rem;
                }
            }
        }
    }
}
